body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
}

.reel-whole-div-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 4%;
  width: 100%;
}

.reel-and-arrow-div-container {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}

/* left side arrow container */

.left-arrow-div-container,
.right-side-arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
}

.bi-chevron-double-left,
.bi-chevron-double-right {
  font-size: 2em;
  color: #827d7d;
}

/* reel container css */

.reel-div-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  border-radius: 10px;
  box-shadow: rgba(165, 192, 215, 0.48) 6px 2px 16px 0px,
    rgba(156, 185, 210, 0.48) -6px -2px 16px 0px;
}

.reel-inside-div-container {
  display: flex;
  flex-direction: column;
  padding: 10px 13px;
}

.profile-showing-whole-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.6em;
  gap: 2em;
}

.reel-name-div-container {
  display: flex;
  align-items: center;
  gap: 2em;
  width: 80%;
}

.profile-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 4em;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.profile-image {
  width: 4.6em;
  height: 3.5em;
  border-radius: 50%;
}

/* user name div */

.user-name-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reel-delete-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.bi-x-octagon-fill {
  font-size: 1.4em;
  color: #ccc;
}

.bi-x-octagon-fill:hover {
  color: #808080;
}

/* reel area */

.reel-showing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35em;
  height: 39em;
}

/* reel input range css */

.range-input-div {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 2em;
}

/* The range input track */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  outline: none;
}

/* The range input thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: #ffffff;
  border: 2px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

/* Styling the thumb when it's being dragged */
input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.2);
}

/* Styling the thumb when it's hovered */
input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #ffffff;
}

/* Styling the range track when the thumb is dragged */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #edecec;
  border-radius: 5px;
}

/* Styling the range track when it's hovered */
input[type="range"]::-webkit-slider-runnable-track:hover {
  background-color: #ccc;
}

.reel-inside-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* reel video-div */

.reel-video {
  width: 35em;
  height: 36em;
}

/* reel option div container */

.reel-option-div-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 3.5em;
}

.reel-inside-option-div {
  display: flex;
  gap: 1em;
}

.input-emoji-div {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

.bi-emoji-smile,
.bi-heart,
.bi-send {
  font-size: 1.5em;
  color: #ccc;
}

.bi-send:hover {
  color: #808080;
}

.bi-heart:hover {
  color: #808080;
}

.bi-emoji-smile:hover {
  color: #808080;
}

#input-for-reel-reaction {
  width: 31em;
  height: 2.4em;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 7px;
  outline: none;
}

input[type="text"] {
  flex: 1;
}

.heart-send-div {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* User reel reader side profile and reader container css */

.user-and-reel-reader-div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  height: 100%;
}

.user-and-reel-reader-div-container-inside-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 99%;
  gap: 1em;
}

.user-profile-name-div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99%;
  box-shadow: rgba(65, 105, 225, 0.5) 0px 1px 4px;
  border-radius: 10px;
}

.user-profile-name-inside-div-container {
  display: flex;
  gap: 10%;
  width: 90%;
  padding: 10px;
}
.profile-image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5em;
  height: 3em;
  border: 1px solid #888;
  border-radius: 50%;
}

#profile-image {
  width: 3em;
  height: 2.5em;
  border-radius: 50%;
}

.user-name-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

/* reel reader div css */

.tale-reader-div-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99%;
  box-shadow: rgba(65, 105, 225, 0.5) 0px 1px 4px;
  border-radius: 10px;
}

.tale-reader-inside-div {
  display: flex;
  flex-direction: column;
  width: 99%;
  gap: 1.3em;
}

.tale-head-search-filter-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
}

/* Container for search input and button */
.invite-page-inside-search-filter-div {
  display: flex;
  align-items: center;
  width: 83%;
  position: relative;
}

/* Search input */
.search-input {
  height: 2.3em;
  width: 100%;
  border: 1px solid #808080;
  border-radius: 20px;
  padding: 0.5em 1em;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Arial", sans-serif;
}

.search-input:focus {
  outline: none;
  border-color: rgb(0, 153, 255);
  box-shadow: 0 0 10px rgba(65, 162, 215, 0.5);
}

/* Search button */
.search-button {
  background-color: #00baff;
  color: #ffffff;
  border: none;
  padding: 7.6px 18px;
  border-radius: 0px 20px 20px 0px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 0;
  height: 2.3em; /* Match the input height */
}

/* Icon inside the button */
.search-button i {
  font-size: 18px;
}

/* reel showing div container css */

.tale-readers-showing-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 580px;
  overflow-y: scroll;
  gap: 1.2%;
}

.tale-readers-showing-div::-webkit-scrollbar {
  display: none;
}

.reader-div-container {
  display: flex;
  align-items: center;
  width: 95%;
  box-shadow: rgba(0, 0, 255, 0.16) 0px 1px 4px;
  border-radius: 10px;
}

.reader-inside-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding: 4px;
}

.reader-image-and-name-div {
  display: flex;
  align-items: center;
  gap: 10%;
  width: 70%;
}

.taller-image {
  width: 3em;
  height: 2.5em;
  border-radius: 50%;
}

.reader-time-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17%;
}
